<%= render "shared/errors", obj: @analytic %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for (@analytic) do |f| %>
    <%= f.label :name  %>
    <%= f.text_field :name  %>
    <%= f.label :number  %>
    <%= f.number_field :number  %>
    <%= f.submit(@analytic.new_record? ? "Create" : "Edit", class:"btn btn-success")  %>
    <% end  %>
  </div>
</div>
