<%= render "shared/errors", obj: @invoice %>
<div class="row well">
<%= form_for @invoice do |f| %>
  <div class="well col-md-6 ">
    <%= f.label :supplier  %>
    <%= f.text_field :supplier  %>
	<%= f.label :number  %>
    <%= f.text_field :number  %>
    <%= f.label :taxCode  %>
    <%= f.text_field :taxCode  %>
    <%= f.label :amount_cents  %>
    <%= f.number_field :amount_cents %>
  </div>
  <div class="well col-md-6 ">
    <%= f.label :receipetDate, "receipt Date" %> 
    <%= date_select("invoice", "receiptDate", order: [:day, :month, :year]) %>
    <br>
    <%= f.label :paymentDate, "payment Date" %> 
    <%= date_select("invoice", "paymentDate", order: [:day, :month, :year]) %>
    <br>
    <%= f.label :analytic_id, "Analytic" %> 
    <%= collection_select(:invoice, :analytic_id, Analytic.all, :id, :name) %>
    <br>
    <%= f.label :costcenter_id, "Cost center" %> 
    <%= collection_select(:invoice, :costcenter_id, @invoice.new_record? ? Costcenter.all : @invoice.costcenters.all, :id, :name) %>
    </div>
     <%= f.submit(@invoice.new_record? ? "Create" : "Edit", class:"btn btn-primary")  %>
    <% end  %>
    <%= link_to "Go Back", invoices_path, class:"btn btn-default"  %>
    
</div>
    