<%= render "shared/page_title", title: "Log in" %>
<%= render "shared/errors", obj: resource %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      
      <% if devise_mapping.rememberable? -%>
  
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        
      <% end -%>

      
        <%= f.submit "Log in", class: "btn btn-primary" %>
      
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>