<%= render "shared/page_title", title: @org.name+": members" %>
<%= render "shared/second_navigation", obj: @org %>
<div class="main">
<% if user_signed_in? and current_user.has_role? :admin %>
  <%= link_to("Add new members", organization_new_member_path(@org), class:"btn btn-primary") %>
<% end %>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |member| %>
     <tr>
        <td><%= member.email %></td>  
        <td><%= link_to("Delete", organization_members_path(@org, :user_id => member.id),data: { confirm: 'Are you sure?' }, method: :delete, :class => "btn btn-small btn-default") %>
            <%= link_to("Make OrgAdmin","", :class => "btn btn-small btn-default") %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>  